#aaa {
  height: 275px;
}

.iconify {
  color: white;
}

.about__img {
  justify-self: center;
}

.footer__icon {
  color: white;
}

.about__container {
  row-gap: 2rem;
  text-align: center;
}

section {
  padding-top: 5rem;
}

.jumbotron {
  padding-top: 6rem;
}
